#ifndef SECRETS_H
#define SECRETS_H

// WiFi Configuration
#define SECRET_WIFI_SSID "YOUR_WIFI_SSID"
#define SECRET_WIFI_PASS "YOUR_WIFI_PASSWORD"

// HiveMQ / MQTT Broker Configuration
#define SECRET_MQTT_HOST "YOUR_MQTT_HOST_URL"
#define SECRET_MQTT_PORT 8883
#define SECRET_MQTT_USER "YOUR_MQTT_USERNAME"
#define SECRET_MQTT_PASS "YOUR_MQTT_PASSWORD"

// MQTT Topics
#define SECRET_TOPIC_TELEMETRY "iot/classA/group01/telemetry"
#define SECRET_TOPIC_CMD       "iot/classA/group01/cmd"

// Device configurations
#define SECRET_DEVICE_ID "esp32_01"
#define SECRET_ROOM_NAME "A101"

#endif // SECRETS_H
