# HiveMQ MQTT Configurations
MQTT_HOST=your_mqtt_host_here
MQTT_PORT=8883
MQTT_USER=your_mqtt_username_here
MQTT_PASS=your_mqtt_password_here
MQTT_CLIENT_ID=gateway_bot
MQTT_TELEMETRY_TOPIC=iot/classA/group01/telemetry

# Telegram Bot Configurations
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here
